# common Compose configuration for all environments
services:
  bot:
    stop_signal: SIGINT
    volumes:
      - data:/app/data
    secrets:
      - source: env
        target: /app/.env
    environment:
      HEALTH_CHECK_DISPLAY_NAME: Docker
      HEALTH_CHECK_PORT: 40404
      HEALTH_CHECK_STARTUP_DELAY: 0
      HEALTH_CHECK_TIMEOUT: 15
      HEALTH_CHECK_ATTEMPTS: 1
      HEALTH_CHECK_INTERVAL: 0
volumes:
  data:
